numpy==1.22.4
llvmlite==0.38.0
numba==0.55.2
opencv-python-headless==4.7.0.68
imageio==2.25.1
scikit-image==0.19.3
scipy==1.10.1
matplotlib==3.7.0
tqdm==4.64.1
tifffile==2023.2.3
Pillow==9.4.0
streamlit==1.18.1
tensorflow-cpu==2.11.0
scikit-learn==1.2.1
stardist==0.8.3